<div class="modal fade" id="newWear" tabindex="-1" aria-labelledby="newWearLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-secondary" id="newWearLabel">Add some new clothes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-secondary">
        <%= simple_form_for [@closet, @wear] do |f| %>
          <%= f.input :color, collection: Wear.colors %>
          <%= f.input :wear_type, collection: Wear.wear_types %>
          <%= f.input :season, collection: Wear.seasons %>
          <%= f.input :photo %>
        <% end %>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>