<div class="modal fade" id="newWear" tabindex="-1" aria-labelledby="newWearLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-secondary" id="newWearLabel">新しい服を追加</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-secondary">
        <%= simple_form_for [@closet, @wear] do |f| %>
          <%= f.input :color, collection: Wear.colors.keys, selected: @wear.color, label: '色' %>
          <%= f.input :wear_type, collection: Wear.wear_types.keys, selected: @wear.wear_type, label: '服の種類' %>
          <%= f.input :season, collection: Wear.seasons.keys, selected: @wear.season, label: '季節' %>
          <%= f.input :photo, label: '写真' %>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
            <%= f.submit "服を保存", class:"btn btn-primary" %>
          </div>
        <% end %>
        
      </div>
    </div>
  </div>
</div>