<div class="navbar-vanilla" data-controller="navbar">
  <%= link_to closets_path, class: "navbar-vanilla-section" do %> 
    <span class="jpic jpic-kimono navbar-vanilla-logo"></span>
    <h2 class="navbar-vanilla-brand" >な二キロ</h2>
  <% end %>
  <div class="navbar-vanilla-section">
    <div class="navbar-vanilla-menu">
      <%= link_to "私の服", closets_path %>
    </div>
    <div class="navbar-vanilla-profile" data-action="click->navbar#openProfile">
      <img src='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text  x=%220.1em%22 y=%221em%22 font-size=%2264%22><%= current_user.email.upcase[0..1] %></text></svg>' alt="">
      <ul>
        <% if user_signed_in? %>
          <%# <li><a href="#">プロファイル</a></li> %>
          <%= link_to "ログアウト", destroy_user_session_path, data: {method: :delete}, class: "dropdown-item" %>
        <% else %>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>