<!DOCTYPE html>
<html>
  <head>
    <title>Nanikiro</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://yannklein.github.io/japan-pictograms/japan-pictograms.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
  <div class="page-frame-content">
    <div class="page-frame-header">
    <% unless current_page?('/') %>
      <%= render 'shared/navbar' %>  
    <% end %>
    </div>
    <div class="page-frame-body">
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>
    <div class="page-frame-footer">
    </div>
  </div>
  </body>
</html>
